/* OrderPage.module.css */
.order-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.order-heading { /* Changed h2 to .order-heading */
  text-align: center;
  color: #2c3e50;
  font-size: 2rem;
  margin-bottom: 30px;
}

.product-info {
  text-align: center;
  background: #ffffff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-info h3 {
  font-size: 1.8rem;
  color: #e74c3c;
  margin-bottom: 15px;
}

.product-info img {
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-info p {
  font-size: 1rem;
  color: #34495e;
  margin-bottom: 10px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #2c3e50;
}

input,
textarea,
select {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  color: #2c3e50;
}

button[type="submit"] {
  grid-column: span 2;
  background-color: #e74c3c;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #c0392b;
}

button.view-more-btn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

button.view-more-btn:hover {
  background-color: #2980b9;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.pagination button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #2980b9;
}

.message {
  font-size: 1.2rem;
  color: #e74c3c;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }
}
